body{
margin:32px;
text-align: center;
font-family:"Georgia";
font-size:24px;
color:#FFF;
line-height:1.5;
background:#021;
}
p{
text-align: justify;
text-indent: 48px;
}
.button{
text-align: center;
color:#021;
background:#FFF;
border:#021 0px solid;
padding:8px 12px;
border-radius:4px;
text-decoration: none;
line-height:2;
white-space: nowrap;
}
.button:hover{
color:#FFF;
background:#011;
white-space: nowrap;
}